@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

/*Move OL zoom to bottom right corner*/
.ol-zoom {
  display: none;
}

.ol-zoomslider {
  display: none;
  bottom: 50px;
  left: auto;
  right: 10px;
  padding: 0;
}

@media (min-width: 768px) {
  .ol-zoomslider {
    display: block;
    top: auto;
    bottom: 120px;
    left: auto;
    right: 10px;
    padding: 0;
  }
}

.ol-scale-line {
  position: absolute;
  top: 10px;
  bottom: auto; /* Distance from the bottom of the map container */
  left: 10px; /* Distance from the right side of the map container */
  right: auto; /* Overrides the default positioning */
}
